.App {
	margin: 30px;
}

.chevron {
	position: absolute;
	width: 60px;
	top: 40%;
	color: #FFF;
	cursor: pointer;
}

.alice-carousel__dots {
	margin-top: -50px !important;
	position: inherit;
}

.year {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	cursor: pointer;
}

.month {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	cursor: pointer;
}

.platform-logo {
	display: block;
	width: 20px;
}